/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: Ubuntu-Bold;
  src: url(assets/fonts/Ubuntu-Regular.ttf);
}
:root {
  /*primary color*/
  --Marine_blue: hsl(213, 96%, 18%);
  --Purplish_blue: hsl(243, 100%, 62%);
  --Pastel_blue: hsl(228, 100%, 84%);
  --Light_blue: hsl(206, 94%, 87%);
  --Strawberry_red: hsl(354, 84%, 57%);
  /*neutral colors*/
  --Cool_gray: hsl(231, 11%, 63%);
  --Lightg_ray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
}
body {
  font-family: Ubuntu-Bold;
  background: var(--Lightg_ray);
}
main {
  background-color: var(--White);
  width: 65%;
  /* height: 500px; */
  left: 17%;
  top: 19%;
  border-radius: 6px;
  position: absolute;
  padding-bottom: 2rem;
}
.side_box {
  width: 30%;
  height: 480px;
  border-radius: 8px;
  margin-top: 11px;
  margin-left: 5px;
  background-color: var(--Pastel_blue);
  background-image: url(assets/images/bg-sidebar-desktop.svg);
  background-position: center left;
}
.flexer {
  display: flex;
  margin-top: 15px;
}
.flexer div {
  color: var(--White);
  margin-left: 10px;
}
.wrapper {
  padding-top: 2rem;
  padding-left: 2rem;
}
dt {
  color: var(--Alabaster);
  opacity: 0.65;
}
dd {
  font-weight: 700;
}
.list {
  cursor: pointer;
  height: 30px;
  width: 30px;
  border: 1px solid var(--Alabaster);
  color: var(--Alabaster);
  border-radius: 50%;
  text-align: center;
  padding-top: 0.15rem;
  margin-top: 0.65rem;
}
.container {
  display: flex;
}
section {
  width: 60%;
  padding-left: 5rem;
  padding-top: 3.25rem;
}
.step_one {
  display: none;
}
.stept_two {
  display: none;
}
.step_three {
  display: none;
}
.step_four {
  display: none;
}
 .step_five {
   display: none; 
} 
.step_h1 {
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.step_p {
  opacity: 0.45;
}
form {
  margin-top: 30px;
}
.lebeler {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.sub_flex{
  display: flex;
  justify-content: space-between;
}
.pop_up_TXT{
  color: red;
  display: none;
}
input {
  height: 3rem;
  border-radius: 10px;
  border-style: none;
  border: 1.5px solid lightgrey;
  padding-left: 1.2rem;
}
.next {
  margin-top: 1rem;
  left: 80%;
  top: 85%;
  position: absolute;
  background-color: var(--Marine_blue);
  color: var(--Magnolia);
  border-style: none;
  padding: 0.5rem 1.1rem;
  border-radius: 10px;
}
.service {
  display: flex;
  margin-top: 2rem;
}
.service_type:nth-of-type(2) {
  margin-left: 2%;
}
.service_type:last-child {
  margin-left: 2%;
}
.service_type {
  cursor: pointer;
  width: 30%;
  border: 1px solid var(--Lightg_ray);
  border-radius: 10px;
  padding: 1rem;
  background-color: var(--Alabaster);
  /* margin-left: 1%; */
}

.service__img {
  margin-bottom: 1.7rem;
}
.service__name {
  color: var(--Marine_blue);
  font-weight: 600;
  margin-bottom: 0.15rem;
}
.service__price {
  margin: 0;
  opacity: 0.4;
}
.freeMo{
  display: none;
  font-size: 0.9rem;
  color: var(--Marine_blue);
}
.monthly_yearly{
  background-color: var(--Magnolia);
  display: flex;
  justify-content: center;
  gap: 1.1rem;
  padding: 1.1rem;
  border-radius: 7px;
  margin-top: 2rem;
}
.slide{
  width: 2.9rem;
  height: 1.3rem;
  border-radius: 10px;
  background-color: var(--Marine_blue);
  padding: 0.15rem 0;
  font-weight: 600;
}
.icon{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: var(--White);
}
.month,.year{
opacity: 0.4;
}

.back {
  position: absolute;
  top: 90%;
  left: 40%;
  padding: 0.15rem 0.25rem;
  background: var(--White);
  border-style: none;
  opacity: 0.55;
}
.adds_on_services {
  display: flex;
  width: 80%;
  background-color: var(--Alabaster);
  padding-bottom: 1rem;
  border-radius: 10px;
  border: 2px solid var(--Lightg_ray);
  margin-top: 2rem;
}
.checkBox {
  margin-left: 10px;
  margin-top: 10px;
}
.adds_on_services div {
  margin-top: 1.2rem;
  margin-left: 24px;
  line-height: 1.2rem;
}
.addsOn__price {
  margin-left: auto;
  margin-top: 1.5rem;
  margin-right: 0.8rem;
  color: var(--Purplish_blue);
}
.addsOn_service_name {
  color: var(--Marine_blue);
  font-weight: 600;
}
.addsOn_service_desc {
  opacity: 0.4;
}
.miniBox {
  width: 80%;
  background-color: var(--Magnolia);
  padding: 1.2rem;
  border-radius: 10px;
  margin-top: 2rem;
}
.finish_name {
  color: var(--Marine_blue);
  font-weight: 600;
}
.finish_price {
  color: var(--Marine_blue);
  font-weight: 600;
  margin-left: auto;
  margin-top: 7px;
}
.change {
  opacity: 0.4;
  text-decoration: underline;
  cursor: pointer;
}
.wrapp {
  display: flex;
  margin-bottom: 1.3rem;
}
.wrapp div {
  line-height: 1.2rem;
}
.line {
  width: 90%;
  height: 1px;
  margin-left: 6%;
  background-color: var(--Cool_gray);
  opacity: 0.4;
  margin-bottom: 1.8rem;
}
.finish_service {
  opacity: 0.4;
}
.finish_price2 {
  margin-left: auto;
  color: var(--Marine_blue);
  opacity: 0.8;
}
.contain {
  line-height: 0.7rem;
}
.total_wrapp {
  display: flex;
  margin-top: 1rem;
  width: 80%;
}
#total {
  margin-left: 10px;
}
.total_price {
  margin-left: auto;
  color: var(--Purplish_blue);
  font-weight: 900;
  font-size: 20px;
}
#confirm {
  background: var(--Purplish_blue);
  padding: 0.4rem 1.5rem;
}
.lastStep {
  display: flex;
  align-items: center;
}
.thanks_img {
  margin-left: 40%;
  margin-bottom: 1.4rem;
}
.thanks_h {
  margin-left: 35%;
  margin-bottom: 0.35rem;
}
.thanks_txt {
  text-align-last: center;
  opacity: 0.4;
}
#mobile_button {
  display: none;
}
.sideBox_mobileView {
  display: none;
}
.active{
  display: block;
}
.clicked{
  background-color: yellow;
}
/* .attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
} */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  main {
    width: 80%;
    left: 15%;
    margin: 0;
    /*left: 0;
    margin-left: 0 auto; */
    top: 20%;
    z-index: 4;
    background-color: var(--Lightg_ray);
  }
  .side_box {
    display: none;
  }
  .sideBox_mobileView {
    width: 100%;
    background-color: var(--Pastel_blue);
    background-image: url("assets/images/bg-sidebar-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    padding-bottom: 7rem;
    display: flex;
    justify-content: center;
  }
  .list {
    margin: 3.6rem 10px 0;
  }
  .step_h1,
  .step_p {
    /* white-space: nowrap; */
    max-width: 16rem;
  }
  section {
    width: 100%;
    padding-left: 2rem;
    padding-top: 2rem;
    padding-right: 1rem;
    background-color: white;
    border-radius: 20px;
  }

  .next {
    white-space: nowrap;
    padding: 0.6rem 0.8rem;
    position: relative;
    display: none;
  }
  .back {
    top: 20%;
    left: 6%;
    display: none;
  }
  #mobile_button {
    display: block;
  }
  .service {
    flex-direction: column;
    margin-bottom: 5%;
  }
  .service_type {
    display: flex;
    width: 95%;
    padding-top: 0.7rem;
    padding-bottom: 0rem;
  }
  .service_type:nth-of-type(2) {
    margin-left: 0%;
    margin-bottom: 2%;
  }
  .service_type:nth-of-type(3) {
    margin-left: 0%;
  }
  .service_type:nth-of-type(1) {
    margin-bottom: 2%;
  }
  .service__name {
    margin-left: 4%;
  }
  .addsOn_service_desc {
    white-space: nowrap;
    font-size: 0.86rem;
  }
  .adds_on_services div {
    margin-left: 0.5rem;
  }
  .adds_on_services {
    width: 100%;
    margin-bottom: 1rem;
  }
  .miniBox {
    width: 90%;
  }
  .total_wrapp {
    margin-bottom: 1rem;
    width: 90%;
  }
  .thanks {
    margin-bottom: 1rem;
  }
  .thanks_img {
    margin-left: 35%;
  }
  .thanks_h {
    margin-left: 27%;
  }
  .thanks_txt {
  text-align: center;
  }
  footer {
    background: var(--White);
    width: 100%;
    padding-bottom: 1.5rem;
    padding-right: 1rem;
    position: absolute;
    top: 105%;
    z-index: -4;
  }
}
